// Config file for Didymos Optimization Project
// Randomization seed, set to NONE for time(0) as seed
time_seed=NONE

// Initial start point for the algorithm, initial_start_file_address only used if random_start is set to "false"
random_start=true
initial_start_file_address=../OptimizedVector.bin

// Output frequency variables
write_freq=1
disp_freq=10

// Algorithm Solution demands
best_count=10
pos_threshold=1.0e-10
speed_threshold=4.4e-8
coast_threshold=0.5
change_check=100
coast_threshold=0.5

// Anneal determination properties
anneal_factor=0.5
anneal_initial=0.001

// Mutation Rates and scale for specific parameter types
mutation_rate=0.15
double_mutate_rate=0.2
triple_mutate_rate=0.05
gamma_mutate_scale=10.0
tau_mutate_scale=10.0
coast_mutate_scale=10.0
triptime_mutate_scale=0.5
zeta_mutate_scale=1.57
beta_mutate_scale=3.14
alpha_mutate_scale=3.14

// Thruster: 0 is none and 1 is NEXT ion thruster
thruster_type=0

// Mass of the spacecraft and fuel
dry_mass=2700
// fuel_mass
wet_mass=3000

// Determines initial velocity magnitude
// Mission is 4.676e6
c3energy=4.676e6

// Asteroid position and velocity at time of impact
// Commented values based on old impact date (10-05-2022)
// Current values based on date: 09-30-2022 19:55:00
r_fin_ast=1.0352402142371  //1.02696822710421 au
theta_fin_ast=1.5907019223523e-1  //0.238839574416454 rad
z_fin_ast=-5.541927402432133e-2  //-0.0526614832914496 au

vr_fin_ast=2.4612105248702e1 //-2.05295246185041e-08 au/s
vtheta_fin_ast=-3.20987786532 //2.29132593453064e-07 au/s
vz_fin_ast=7.298544178e-9 //8.00663905822009e-09 au/s

// // Earth position and velocity at time of impact
// Commented values based on old impact date (10-05-2022)
// Current values based on date: 09-30-2022 19:55:00
r_fin_earth=1.0014224846405    //1.00021392223428 au
theta_fin_earth=1.2788791031362e-1    //0.199470650149394 rad
z_fin_earth=-1.077701132014302e-5    //-1.54878511585620e-05 au

vr_fin_earth=1.5889378096862e1   //-3.32034068725821e-09 au/s
vtheta_fin_earth=-3.04181583809   //1.99029138292504e-07 au/s
vz_fin_earth=-2.978903938e-12   //-9.71518257891386e-12 au/s